/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border-spacing: 0px;
}

.battleGrid tr {
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}x

.miss {
    background-color: blue;
}

#game-modal {
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    display: flex;

    background-color: blue;
    border-radius: 50px;

    height: 520px;


}

.board-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.board-container p {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px
}


.board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background-color: white;
}