/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border-spacing: 0px;
}

.battleGrid tr {
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: #FFDE03;
}

.sink {
    background-color: #FF0266;
}

.miss {
    background-color: #0336FF;
}

.hidden {
    display: none;
}

.primary-color {
    background-color: white;
}

.secondary-color{
    background-color: black;
}

#game-modal {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: blue;
    border-radius: 50px;
    height: 520px;


}

.board-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.board-container p {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px
}


.board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background-color: white;
}

#upper-game-modal {
    width: 100%;
    display: flex;
}

#lower-game-modal {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#sunken-ships-header {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 0px;
    border-bottom: 3px;
}

.crossed-out {
    text-decoration: line-through;
}

.sunken-ships-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.sunken-ships-container li {
    list-style-type: none; 
    margin-bottom: 10px;

}

.results-display-container{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    width: 75px;
}

.results-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.results-display p {
    text-align: center;
}


#results-text {

}

.error-modal-container {
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 9999;
    width: 200px;
    height: 150px;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
    padding-top: 100px;
}

.error-modal {
    background-color: white;
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.error-modal-header {
    text-align: center;
}

.error-modal-body {
    text-align: center;
}

.error-ok {
    width: 100%;

}