/* Add additional stylesheets below
-------------------------------------------------- */

body {
    margin: 0px;
}

.banner {
    text-align: center;
    font-size: 1.75em;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    background-color: blue;

}

.banner span {
    margin-top: 30px;
    color: black;
}

.background {
    background-color: white
}

.battleGrid {
    border-spacing: 0px;
}

.battleGrid tr {
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: yellow;
}

.sink {
    background-color: red;
}

.miss {
    background-color: gray;
}

.hidden {
    display: none;
}

.primary-color {
    color: blue;
}

.secondary-color{
    color: white;
}

#game-modal {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: blue;
    border-radius: 50px;
    height: 520px;


}

.board-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.board-container p {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px
}


.board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    background-color: white;
}

#upper-game-modal {
    width: 100%;
    display: flex;
}

#lower-game-modal {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#sunken-ships-header {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 0px;
    border-bottom: 3px;
}

.crossed-out {
    text-decoration: line-through;
}

.sunken-ships-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.sunken-ships-container li {
    list-style-type: none; 
    margin-bottom: 10px;

}

.results-display-container{
    display: block;
    width: 75px;
}

.results-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 50px;
}

.results-display p {
    text-align: center;
}


.error-modal-container {
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 150px;
    margin-left: 43.5%;

    padding-top: 100px;
}

.error-modal {
    background-color: white;
    display: inline-block;
    width: 100%;

    border-radius: 25px;
    text-align: center;
}

.error-modal-header {
    text-align: center;
}

.error-modal-body {
    text-align: center;
}

.error-ok {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;

    border: none;
    border-radius: 25px;

    border: 2px solid blue;

}

#is_vertical {

    margin-left: auto;
    margin-right: auto;

    border: none;
    color: lightblue;

    border-radius: 50px;

    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    margin-top: 15px;
    cursor: pointer;

    
    background-color: blue;
    color: black;
    border: 2px solid black;

}
