<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<div id="game-modal">
    <div id="upper-game-modal">
        <div class="board-container">
            <p>PLAYER</p>
            <table id="player" class="battleGrid board">
            </table>
        </div>
        <div class="results-display-container">
            <div class="results-display">
                <p id = "results-text">BEGIN BATTLE!</p>
            </div>
        </div>
        <div class="board-container">
            <p>COMPUTER</p>
            <table id="opponent" class="battleGrid board">
            </table>
        </div>
    </div>

    <p id="sunken-ships-header">SUNKEN SHIPS</p>
    <div id="lower-game-modal">
        
        <div id="player-sunken" class="sunken-ships-container">
            <ul class="suken-ships">
                <li id="opponent-battleship"> - BATTLESHIP - </li>
                <li id="opponent-minesweeper"> - MINESWEEPER - </li>
                <li id="opponent-destroyer"> - DESTROYER - </li>
            </ul>
        </div>
        <div id="opponent-sunken" class="sunken-ships-container">
                <ul class="suken-ships">
                    <li id="player-battleship"> - BATTLESHIP - </li>
                    <li id="player-minesweeper"> - MINESWEEPER - </li>
                    <li id="player-destroyer"> - DESTROYER - </li>  
                </ul> 
        </div>
    </div>
</div>

<div id="error" class="error-modal-container">
    <div id="myModal" class="error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="error-modal-header">
            <h3 id="myModalLabel">ERROR</h3>
        </div>
        <div class="error-modal-body">
            <p id="errorText">You shouldn't be seeing this right now....</p>
        </div>
        <div class="error-modal-footer">
            <button id="error-ok" class="error-ok" data-dismiss="modal" aria-hidden="true">OK</button>
        </div>
    </div>
</div>

<button id="errorButton" class="error-maker">MAKE AN ERROR</button>

<ul>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>