<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<table id="opponent" class="battleGrid">
</table>

<table id="player" class="battleGrid">
</table>

<div id="error" class="error-modal-container">
    <div id="myModal" class="error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="error-modal-header">
            <h3 id="myModalLabel">ERROR</h3>
        </div>
        <div class="error-modal-body">
            <p id="errorText">You shouldn't be seeing this right now....</p>
        </div>
        <div class="error-modal-footer">
            <button id="error-ok" class="error-ok" data-dismiss="modal" aria-hidden="true">OK</button>
        </div>
    </div>
</div>

<button id="errorButton" class="error-maker">MAKE AN ERROR</button>

<ul>
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>